.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chat_footer > form {
    flex: 1;
    display: flex;
    width:92vw
  }
  .chat_footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 5px;
    border: none;
    outline: 0;
  }
  .chat_footer > form > button {
    display: none;
  }
  .chat_footer > .MuiSvgIcon-root {
    padding: 10px;
    font-size: 300%;
  }